<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../img/icon.png" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/theme.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <title>Mini Blog App</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>Home</li>
          <li>Treanding</li>
          <li>Write</li>
        </ul>
      </nav>
    </header>
    <main>
      <div>
        <h2>Login</h2>
      </div>
      <form action="">
        <input type="email" placeholder="Enter your Email" required />
        <input type="password" placeholder="Enter your Password" required />
        <button>Login</button>
      </form>
    </main>
    <footer>
      &copy; Mini Blog App
    </footer>
  </body>
</html>
