<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../img/icon.png" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/theme.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <title>Mini Blog App</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="trending.html">trending</a></li>
          <li><a href="explore.html">explore</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div>
        <h2>Signup</h2>
      </div>
      <form action="">
        <input type="email" placeholder="Enter your Email" required />
        <input type="password" placeholder="Enter your Password" required />
        <input type="password" placeholder="Conform your Password" required />
        <button>Signup</button>
      </form>
      <a href="login.html">Already Registered!</a>
    </main>
    <footer>
      &copy; Mini Blog App
    </footer>
  </body>
</html>
